# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [37]:
var1 = 220
var2 = 220
print(var1 == var2)
print(id(var1) == id(var2))

True
True

Числа, які входять в проміжки від -5 до 256 посилаються на один і той самий об'єкт в пам'яті

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [1]:
bool1 = True
print (isinstance (bool1, int))
print (isinstance (bool1, bool))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [31]:
var3 = 9.5
var4 = 3
print (var3 + var4)
print (var3 - var4)
print (var3 / var4)
print (var3 * var4)
print (var3 // var4)
print (var3 % var4)
print (var3 ** var4)

12.5
6.5
3.1666666666666665
28.5
3.0
0.5
857.375

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [35]:
print(var3)
var_convert_1 = int(var3)
print(var_convert_1)
bool2 = False
print(bool2)
var_convert_2 = int(bool2)
print(var_convert_2)

9.5
9
False
0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [2]:
str1 = ""
str2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [26]:
str3 = "\t My name`s Yaroslav\n"
raw_str = r"\t My name`s Yaroslav"
print(str3, raw_str)

	 My name`s Yaroslav
 \t My name`s Yaroslav

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [23]:
my_surname = "Frankiv"
formatted_row = f"My surname is {my_surname}"
formatted_row

'My surname is Frankiv'

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [20]:
row = "My dog is crazy."
word_list = row[:-1].lower().split()
word_list

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [12]:
list1 = [1, 2 , 3, 4, 5]
list2 = list((6,7, 8))
len(list1)

5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [13]:
list3 = [1, 2 , 3, 4, 5]
list4 = [6, 7, 8, 9, 10]
list3.extend(list4)
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [5]:
list5 =[[1, 2, 3], [4,5],[5, 6, 7, 8]]
print(list5[-1][0])

5

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [19]:
list6 = [(1,), 1, 5.6, True, {1: 16}, [1, 2, 3], "yaroslav", 'j', 999, None]
list7 = list6[2:-2]
list7

[5.6, True, {1: 16}, [1, 2, 3], 'yaroslav', 'j']

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [8]:
tuple1 = (22, )
tuple1

(22,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схожості: обидва є послідовностями та дозволяють доступ до елементів за індексом.

Відмінності: список — змінний тип із синтаксисом [], тоді як кортеж — незмінний із синтаксисом ().

Випадки використання: списки застосовують, коли дані можуть змінюватися під час виконання програми, а кортежі — коли потрібна фіксована послідовність.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [18]:
tuple2 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
tuple3 = tuple2[::-2]
tuple3

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [17]:
set1 = set()
print(id(set1))
set1.add(22)
set1.add("djhjfh")
print(id(set1))

137080127248800
137080127248800

так, його id не змінилось

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [16]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set_of_list = set(my_list)
set_of_list

{1, 2, 8, 9, 67}

множини не приймають дублі і повторювані значення видаляються.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [15]:
set2 = {8, 77, 89}
set3 = {77, 89, 99, 111, 90}
print(set2.union(set3))
print(set2.intersection(set3))
print(set2.difference(set3))
print(set2.symmetric_difference(set3))

{99, 8, 77, 111, 89, 90}
{89, 77}
{8}
{99, 8, 90, 111}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [14]:
dict1 = {}
dict1[77] = 13
dict1[False] = "gddft"
dict1[8.8] = (7, 7, 7, 7)
dict1["lol"] = True
dict1

{77: 13, False: 'gddft', 8.8: (7, 7, 7, 7), 'lol': True}

не можуть,список є змінним, а ключі мають бути незмінними

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [10]:
dict2 = {9: 9, 88: {True: {"lol": (7, 7, 7)} }}
dict2[88][True]["lol"]

(7, 7, 7)

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.